<h1>{{ musee.nom_du_musee }}</h1>

<p>{{ musee.adresse }}</p>

<p>{{ musee.cp }} {{ musee.ville }}</p>

<p>{{ musee.telephone }}</p>

<p>{{ musee.site_web }}</p>

<p>{{ musee.fermeture_annuelle }}</p>

<p>{{ musee.periode_ouverture }}</p>

<img src="{{ musee.lien_image}}">

<form>
  <input type="button" value="Retour" onclick="history.go(-1)">
</form>